body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9; /* Adiciona um fundo claro */
}

.min-h-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  max-width: 300px; /* Limita o tamanho máximo da imagem */
  height: auto;
  object-fit: contain;
  margin-top: 20px; /* Espaço entre o texto e a imagem */
}